body,html{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
.container{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5%;
}
.col-md-12{
    width: 100%;
}
.col-md-6{
    width: 60%;
}
.col-md-4{
    width: 40%;
}
.p-t-1{
    padding-top: 10%;
}
.p-t-2{
    padding-top: 20%;
}
.p-l-3{
    padding-left: 30%;
}
.p-l-4{
    padding-left: 40%;
}
.p-r-4{
    padding-right: 40%;
}
.text-center{
    text-align: center;
}
.text-white{
    color: #ffffffff;
}
.text-bold{
    font-weight: bold;
}
.text-uppercase{
    text-transform: uppercase;
}
.text-lowercase{
    text-transform: lowercase;
}
.text-capital{
    text-transform: capitalize;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #2196F3;
  border-radius: 50%;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  border-radius: 50%;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
.checkbox-container p{
    margin: 3px 35px;
    color: white;
    font-size: 1em;
    font-weight: bold;
}
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.form-input{
    width: 40%;
    border: none;
    border-bottom-width: medium;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
    border-bottom: 1px solid #09ada7;
    background: #197472cc;
    border-radius: 5px;
    padding: 10px 5px;
    color: #ffffffff;
}
.floating-label{
    position: absolute;
    color: rgb(189, 189, 189);
    padding: 10px 5px;
    transition: all 0.5s ease;
    left: 30%;
}
.form-input:focus + .floating-label{
    margin-top: -5%;
    color: #fff;
}
.form-input:focus + .floating-label,.form-input:valid + .floating-label {
   margin-top: -5%;
}
.btn{
    border: none;
    padding: 5px 30px;
    border-radius: 5px;
    color: #fff;
}
.btn-success{
    background: #0c5351;
}
.btn-rounded{
    border-radius: 30px;
}
.btn-md{
    font-size: 1.5em;
}