body,html{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
*{
    outline: none !important;
}
.round-medium {
    width: 25%;
    border-radius: 5%;
}
.spacing-44{
    line-height: 74px;
}

.container{
    display: block;
    position: relative;
    width: 80% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
    height: 100% !important;
}
.row{
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 0;
}
.nav{
    padding: 1%;
}
.nav ul{
    list-style-type: none;
    justify-content: flex-end !important;
}
.nav .row img,nav img{
    height: 80%;
    margin-top: -2px;
    margin-right: 5px;
    border-radius: 50%;
}
.col-md-12{
    width: 100%;
}
.col-md-5{
    width: 50%;
}
.paddind-text-20{
    padding: 20px;
}
.scrollitem{
    max-height: 327px;
    overflow-y: scroll;
}
.badge{
    background: red;
    padding: 15px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.col-md-6{
    width: 60%;
}
.col-md-4{
    width: 40%;
}
.col-md-7{
    width: 70%;
}
.p-t-1{
    padding-top: 6%;
}
.listloan{
    background: #187472;
    padding: 10px 20px;
}
.p-t-2{
    padding-top: 20%;
}
.p-d-inp-log{
    margin: 0 15%;
}
.p-l-4{
    padding-left: 40%;
}
.text-justified{
    text-align: justify;
}
.text-black{
    color: #111111;
}
.col-md-8{
    width: 80%;
}
.p-d-n{
    padding-right: 20px;
    padding-top: 2%;
}
.p-r-4{
    padding-right: 40%;
}
.text-center{
    text-align: center;
}
.text-white{
    color: #ffffffff;
}
.text-bold{
    font-weight: bold;
}
a{
    text-decoration: none;
}
.text-uppercase{
    text-transform: uppercase;
}
.text-lowercase{
    text-transform: lowercase;
}
.text-capital{
    text-transform: capitalize;
}
.no-outline{
    outline: none;
}
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #2196F3;
  border-radius: 50%;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  border-radius: 50%;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
.checkbox-container p{
    margin: 3px 35px;
    color: white;
    font-size: 1em;
    font-weight: bold;
}
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.form-input{
    width: 70%;
    border: none;
    border-bottom-width: medium;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
    border-bottom: 1px solid #09ada7;
    background: #197472cc;
    border-radius: 5px;
    padding: 10px 5px;
    color: #ffffffff;
}
.other-float{
    color: #197472cc !important;
    left: 13% !important;
}
.mid-screen{
    left: 51% !important;
}
.floating-label{
    position: absolute;
    color: rgb(189, 189, 189);
    padding: 10px 5px;
    transition: all 0.5s ease;
    left: 17%;
}
.form-input:focus + .floating-label{
    margin-top: -5%;
    color: #fff;
}
.form-input:focus + .floating-label,.form-input:valid + .floating-label {
   margin-top: -5%;
}
.btn{
    border: none;
    padding: 5px 30px;
    border-radius: 5px;
    color: #fff;
    outline: none !important;
}
.btn-success{
    background: #0c5351;
}
.btn-danger{
    background: #d6260f;
}

.btn-rounded{
    border-radius: 30px;
}
.btn-md{
    font-size: 1.5em;
}
.sticky-footer{
    /* position: fixed;
    bottom: 0; */
    width: 100%;
    text-align: center;
    left: 0;
}
.hidden{
    display: none !important;
    transition: max-height 350ms ease-in-out;
}
.mouse{
    cursor: pointer;
}
.sticknav{
    position: fixed;
    width: 80% !important;
    top: -46px;
    margin: 0 !important;
}
.separator{
    min-height: 8%;
}
a:hover{
    color: orange;
}
.btn:hover{
    background: #16716f80;
    border: 1px solid #023f3e;
}
.btn-md:hover{
    font-size: 1.3em;
    color: orange;
}
.animate-right{
    position:relative;
    animation:animateright 1s
}
 @keyframes animateright{
    from{right:-300px;opacity:0} 
    to{right:0;opacity:1}
}
.animate-left{
    position:relative;
    animation:animateleft 1s
}
@keyframes animateleft{
    from{left:-300px;opacity:0} 
    to{left:0;opacity:1}
}
.animate-bottom{
    position:relative;
    animation:animatebottom 1s
}
@keyframes animatebottom{
    from{bottom:-300px;opacity:0} 
    to{bottom:0;opacity:1}
}
.animate-fading{
    animation:fading 1s
}@keyframes fading{
    0%{opacity:0}
    25%{opacity:.25}
    50%{opacity:.50}
    75%{opacity:.75}
    100%{opacity:1}
}
.pr-15px{
    padding-right: 15px;
}
.logo{
    color: #ffffffff;
    margin: 0;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: left;
    z-index: 1;
}
.logo span{
    background: orange;
    padding: 5px 20px;
    font-size: 1em;
    color: #187472;
    border-radius: 5px;
    border: 1px solid #138d89;
}
.logo em{
    letter-spacing: 4px;
    font-size: 1em;
}
.left-block-btn{
    margin: 0 13%;
}

/* menu header css */

header{
    background: #187472;
    /* overflow: hidden; */
    height: 12%;
}
header .logo{
    padding: 2.3%;
}
.username{
    display: flex;
    cursor: pointer;
    justify-content: end;
    width: 28%;
}
.username .names:hover,.username img:hover + .names{
    color: orange;
}
.username span:hover + .arr i{
    border: solid orange;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
i{
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.down {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.dropdown-content{
    display: grid;
    background: #187472;
    width: 10%;
    padding: 3%;
    left: 80%;
    z-index: 100;
    position: absolute;
}
#toggle {
    display: none;
    width: 28px;
    height: 30px;
    margin-top: 25px;
    cursor: pointer;
}

#toggle span:after,
#toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
}
#toggle span:after{
    top: 9px;
}
#toggle span {
    position: relative;
    display: block;
}
  
#toggle span, #toggle span:after, #toggle span:before {
    width: 100%;
    height: 5px;
    background-color: #fff;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
}
  
.mobile-menu{
    position: fixed;
    z-index: 1;
    width: 60%;
    height: 100%;
    background: #187472e6;
}
.pull-right{
    float: right;
}
.smal-btn{
    background: #00c9ff;
    padding: 5px 5px;
    border-radius: 27%;
}
.close-x{
    padding: 4px;
    background: orange;
    margin: 5px;
    border-radius: 25%;
}
.close-x:hover{
    background: red;
}
.menu-content{
    margin-top: 12%;
    padding: 5%;
}
.menu-content div a{
    padding: 0 10%;
}
.menuhr{
    border: 1px solid #187472;
}
.white-background{
    background: #FFF !important;
    border-radius: 0px !important;
    color: #3d3d3dcc !important;
    margin: 0 13%;
}
.page-container{
    margin: 5% auto;
}
.form-input:focus + .other-float,.form-input:valid + .other-float {
    margin-top: -2% !important;
 }
 .p-t-f{
     margin-top: 2% !important;
 }
 .ptf10{
    margin-top: 10% !important;
 }
 .text-default{
    color: #187472;
 }
 .no-height{
    height: initial !important;
 }
 .sticky-footer-activated{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    left: 0;
    background: #187472;
 }
 .ptl2{
    margin-left: 2%;
 }
 .flex{
    display: flex;
 }
 .round-small{
    width: 5%;
    border-radius: 50%;
 }
 .name-img{
    margin: 20px 18px;
 }
 
 .p-b-15{
    margin-bottom: 15px;
 }
 .space-between{
     justify-content: space-between;
 }
 .p-b-15{
    margin-bottom: 15px;
 }