@media (max-width: 736px) {
    .fullIm{
        width: 100%;
    }
    .mid-screen{
        left: 6% !important;
    }
    .sticky-footer-activated{
       display: none;
     }
    .display-all{
        width: 85% !important;
    }
    .block-display{
        display: block !important;
    }
    .other-float{
        left: 3% !important;
    }
    .login-container {
        position: absolute;
        width: 90%;
        top: 10%;
        left: 5%;
        right: 5%;
        bottom: 10%;
    }
    .app-name {
        font-size: 1em;
    }
    .app-name span,.app-name em {
        font-size: 1em;
    }
    .col-md-12{
        padding: 3%;
        width: 94%;
    }
    .form-input{
        width: 94%;
    }
    .floating-label{
        left: 5%;
    }
    .sticky-footer{
        font-size: .7em;
    }
    .checkbox-container p{
        margin: 3px 35px;
        font-size: .8em;
    }
    .p-d-inp-log {
        margin: 0 0%;
    }
    .checkmark{
        height: 21px;
        width: 21px;
    }
    .form-input:focus + .floating-label,.form-input:valid + .floating-label {
        margin-top: -10%;
    }
    .white-background{
        margin: 0 !important;
    }
    .sticknav {
        width: 84% !important;
    }
}

@media (min-width: 414px) {
    .app-name {
       font-size: 2em;
    }
}

@media (min-width: 414px) {
    .app-name {
       font-size: 2em;
    }
}

@media (max-width: 360px) {
    header .logo {
        padding: 6.3% 0%;
    }
    .form-input:focus + .other-float,.form-input:valid + .other-float {
        margin-top: -6% !important;
     }
     .mid-screen{
        left: 6% !important;
    }
}
@media only screen and (min-width: 361px) and (max-width: 600px) {
    header .logo {
        padding: 4%;
    }
    .mid-screen{
        left: 6% !important;
    }
}
@media only screen and (min-width: 601px) and (max-width: 800px) {
    header .logo {
        padding: 3%;
    }
    .full-large{
        width: 90% !important;
    }
    .other-float{
        left: 2% !important;
    }
    .form-input:focus + .other-float,.form-input:valid + .other-float {
        margin-top: -3% !important;
    }
    .sticknav{
        width: 84% !important;
        top: -53px;
    }
    .round-small {
        width: 11%;
    }
    .mid-screen{
        left: 6% !important;
    }
    .form-input:focus + .other-float,.form-input:valid + .other-float {
        margin-top: -3% !important;
     }
}

@media only screen and (max-width: 852px) and (min-width: 737px)  {
    .login-container {
        width: 80%;
        left: 10%;
        right: 10%;
    }
    .p-l-3{
        padding-left: 20%;
    }
    .p-r-3{
        padding-right: 20%;
    }
    .col-md-12 {
        width: 60%;
    }
    .form-input {
        width: 100%;
    }
    .sticky-footer {
        position: relative;
        width: 100%;
        text-align: center;
        left: 0;
    }
    .form-input {
        width: 97%;
    }
    .floating-label {
        left: 22%;
    }
    .white-background{
        margin: 0 !important;
    }
    .other-float{
        left: 0% !important;
    }
    .mid-screen{
        left: 45% !important;
    }
    .full-large{
        width: 100% !important;
    }
}
@media (min-width: 1290px) {
    .login-background {
        background-size: cover;
    }
}
@media only screen and (max-width: 1086px) and (min-width: 737px)  {
    .sticknav{
        width: 94% !important;
    }
}
@media(max-width: 1086px){
    .nav{
        display: none;
    }
    #toggle {
        display: block;
    }
    .container{
        margin-left: 3% !important;
        margin-right: 3% !important;
        width: 94% !important;
    }
    .no-height{
        height: 100% !important;
     }
}
