@media (max-width: 460px) {
    .login-container {
        position: absolute;
        width: 90%;
        top: 10%;
        left: 5%;
        right: 5%;
        bottom: 10%;
    }
    .app-name {
        font-size: 1em;
    }
    .app-name span,.app-name em {
        font-size: 1em;
    }
    .col-md-12{
        padding: 3%;
        width: 94%;
    }
    .form-input{
        width: 90%;
    }
    .floating-label{
        left: 5%;
    }
    .sticky-footer{
        font-size: .7em;
    }
    .checkbox-container p{
        margin: 3px 35px;
        font-size: .8em;
    }
    .checkmark{
        height: 21px;
        width: 21px;
    }
    .form-input:focus + .floating-label,.form-input:valid + .floating-label {
        margin-top: -10%;
     }
}