@media (max-width: 736px) {
    .login-container {
        position: absolute;
        width: 90%;
        top: 10%;
        left: 5%;
        right: 5%;
        bottom: 10%;
    }
    .app-name {
        font-size: 1em;
    }
    .app-name span,.app-name em {
        font-size: 1em;
    }
    .col-md-12{
        padding: 3%;
        width: 94%;
    }
    .form-input{
        width: 94%;
    }
    .floating-label{
        left: 5%;
    }
    .sticky-footer{
        font-size: .7em;
    }
    .checkbox-container p{
        margin: 3px 35px;
        font-size: .8em;
    }
    .p-d-inp-log {
        margin: 0 0%;
    }
    .checkmark{
        height: 21px;
        width: 21px;
    }
    .form-input:focus + .floating-label,.form-input:valid + .floating-label {
        margin-top: -10%;
    }
}

@media (min-width: 414px) {
    .app-name {
       font-size: 2em;
    }
}
@media (max-width: 360px) {
    header .logo {
        padding: 8.3%;
    }
}
@media only screen and (min-width: 361px) and (max-width: 600px) {
    header .logo {
        padding: 5%;
    }
}
@media only screen and (min-width: 601px) and (max-width: 800px) {
    header .logo {
        padding: 4%;
    }
}

@media only screen and (max-width: 852px) and (min-width: 737px)  {
    .login-container {
        width: 80%;
        left: 10%;
        right: 10%;
    }
    .p-l-3{
        padding-left: 20%;
    }
    .p-r-3{
        padding-right: 20%;
    }
    .col-md-12 {
        width: 60%;
    }
    .form-input {
        width: 100%;
    }
    .sticky-footer {
        position: relative;
        width: 100%;
        text-align: center;
        left: 0;
    }
    .form-input {
        width: 97%;
    }
    .floating-label {
        left: 22%;
    }
}
@media (min-width: 1290px) {
    .login-background {
        background-size: cover;
    }
}
@media(max-width: 1086px){
    .nav{
        display: none;
    }
    #toggle {
        display: block;
    }
}